.header {
  position: relative; /* Since logo-box has absolute position, its parent should be relative. */
  height: 95vh; /* vh = Viewport Height */
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)), 
  url('../img/hero.jpg');
  background-size: cover; /* fit element inside box */
  background-position: top; /* even on smallser screens, bottom of img gets cropped, not top */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  
  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%; /* Top and Left here are in relation to the parent element. */
    left: 50%;
    transform: translate(-50%, -50%); /* These are 50% off, relative to the element itself, not the page. Otherwise it would center the textbox's left edge.  */
    text-align: center;
  }
}